/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  width: 65%;
  margin: auto;
}

h1 {
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: navy;
}

.post {
  margin-top: 40px;
  border: 1px solid lightgrey;
  background-color: #ebebeb;
}

.body-text {
 width: 450px;
 height: 250px;
}

.comments-section {
 margin-top: 50px;
}

table#comments-table {
 border-collapse: collapse;
 width: 80%;
}

#comments-table tr, td {
 border: 1px solid grey;
 padding: 5px 10px;
}

#comments-table tr td:nth-child(1) {
width: 25%;
}

#comments-table tr td:nth-child(2) {
width: 75%;
}

#comments-table tr:nth-child(even){
 background-color: #f2f2f2;
}

#comment-area, #add-comment {
margin-top: 40px;
margin-bottom: 40px;
}
